In [210]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import (
    accuracy_score,
    confusion_matrix,
    ConfusionMatrixDisplay,
    classification_report
)

import matplotlib.pyplot as plt

In [211]:
df = pd.read_csv("phase2_risk_clusters.csv")
df.shape
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              175 non-null    object
 1   total_time_spent        175 non-null    float64
 2   total_events            175 non-null    float64
 3   avg_time_per_event      175 non-null    float64
 4   active_days             175 non-null    int64
 5   access_frequency        175 non-null    float64
 6   avg_quiz_score          175 non-null    float64
 7   quiz_attempt_count      175 non-null    int64
 8   quiz_score_std          175 non-null    float64
 9   avg_quiz_time           175 non-null    float64
 10  avg_assignment_score    175 non-null    float64
 11  late_submission_ratio   175 non-null    float64
 12  assignment_count        175 non-null    int64
 13  avg_final_grade         175 non-null    float64
 14  failed_courses          175 non-null    int64
 15  risk_cluster            175 non-null    int64
 16  risk_level              175 non-null    object
 17  generic_recommendation  175 non-null    object
dtypes: float64(10), int64(5), object(3)
memory usage: 24.7+ KB

In [219]:
df['failed_courses'].value_counts()

failed_courses
1    120
0     55
Name: count, dtype: int64

Define pass/fail label

In [221]:
df['pass_fail'] = (df['failed_courses'] >= 60).astype(int)
df['pass_fail'].value_counts(normalize=True)
df['pass_fail'].value_counts()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              175 non-null    object
 1   total_time_spent        175 non-null    float64
 2   total_events            175 non-null    float64
 3   avg_time_per_event      175 non-null    float64
 4   active_days             175 non-null    int64
 5   access_frequency        175 non-null    float64
 6   avg_quiz_score          175 non-null    float64
 7   quiz_attempt_count      175 non-null    int64
 8   quiz_score_std          175 non-null    float64
 9   avg_quiz_time           175 non-null    float64
 10  avg_assignment_score    175 non-null    float64
 11  late_submission_ratio   175 non-null    float64
 12  assignment_count        175 non-null    int64
 13  avg_final_grade         175 non-null    float64
 14  failed_courses          175 non-null    bool
 15  risk_cluster            175 non-null    int64
 16  risk_level              175 non-null    object
 17  generic_recommendation  175 non-null    object
 18  pass_fail               175 non-null    int64
 19  risk_cluster_encoded    175 non-null    float64
dtypes: bool(1), float64(11), int64(5), object(3)
memory usage: 26.3+ KB

In [222]:
risk_mapping = {
    'Low Risk': 0,
    'Medium Risk': 1,
    'High Risk': 2
}

df['risk_cluster_encoded'] = df['risk_cluster'].map({
    'Low Risk': 0,
    'Medium Risk': 1,
    'High Risk': 2
})
df['risk_cluster_encoded'] = df['risk_cluster_encoded'].fillna(1)
df[['risk_cluster', 'risk_cluster_encoded']].head()

   risk_cluster  risk_cluster_encoded
0             0                   1.0
1             0                   1.0
2             0                   1.0
3             0                   1.0
4             0                   1.0

In [223]:
features = [
 'total_time_spent',
 'active_days',
 'access_frequency',
 'avg_quiz_score',
 'quiz_score_std',
 'avg_assignment_score',
 'late_submission_ratio',
 'risk_cluster',
 'risk_cluster_encoded',
 'avg_final_grade'
]

Missing sets

In [224]:
missing = set(features) - set(df.columns)
missing

set()

In [225]:
X = df[features]
y = df['pass_fail']

X.shape, y.shape

((175, 10), (175,))

Train/Test split

In [226]:
X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    test_size=0.2,
    random_state=42,
    stratify=y
)

y_train.value_counts(normalize=True)
y_test.value_counts(normalize=True)

pass_fail
0    1.0
Name: proportion, dtype: float64

Log Reg

In [227]:
log_reg = LogisticRegression(max_iter=1000)
log_reg.fit(X_train, y_train)

ValueError: This solver needs samples of at least 2 classes in the data, but the data contains only one class: np.int64(0)